body {
    background: url("../img/bg_client.jpg") no-repeat; 
    background-size: cover;
}

.form-contact {
    display: flex;
    justify-content: center;
}

.form-contact form {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #A9A3A0;
}

form label {
    margin-bottom: 8px;
    font-weight: bold;
}